.end-item{
    background-color: rgba(255, 255, 255, 0.2);
    color: #f0f0f0; font-weight: bold;
}

.btn-left{text-align: left; padding:0;}

/*Global*/
.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}

/*Forms*/
input[type=text], input[type=password] {
    /*display: block;*/
    /*width: 100%;*/
    margin: 10px auto;
    outline: none;
}

.form-row {
  margin: 4px;
}

.formarea {
  width: 90%;
  margin: 50px auto 0px auto;
}

/*notification*/
.list-item-note {
  position: absolute;
  right: 36px;
  top: 10px;
  font-size: 14px;
}

/*Menu*/
.page--menu-page__background {
    background-color: #333;
    color: white;
}

.menu-close,
.menu-close > .toolbar-button {
    color: #999;
}

.menu-list,
.menu-item:first-child,
.menu-item {
    background-color: transparent;
    background-image: none !important;
    border-color: transparent;
    color: #fff;
}

.menu-item {
    padding: 0 0 0 20px;
    line-height: 52px;
    height: 52px;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.menu-item:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-notification {
    display: inline-block;
    margin-top: 12px;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
    font-weight: 600;
}

.bottom-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item {
    border-color: #393939;
    background-color: transparent;
    background-image: none !important;
    color: #ccc;
}

.bottom-menu-item:active {
    background-color: rgba(255, 255, 255, 0.1);
}

/*Log in*/
.login-form {
    text-align: center;
    width: 80%;
    margin: 60px auto 0;
}


.login-button {
    width: 100%;
    margin: 0 auto;
}

.forgot-password {
    display: block;
    margin: 8px auto 0 auto;
    font-size: 14px;
}


/*Overview*/

/*Coming*/
.plan-list {
    border-top: none;
    background-image: none !important;
}

.plan {
    line-height: 1;
    padding: 0;
}

.plan-left {
    text-align: right;
    padding: 10px 10px 10px 0;
}

.plan-center {
    background-color: #3399ff;
    opacity: 0.5;
}

.plan-right {
    padding: 10px 40px 10px 10px;
}

.plan-date {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 4px;
    font-weight: 500;
}

.plan-duration {
    font-size: 11px;
    opacity: 0.4;
}

.plan-name {
    font-size: 17px;
    margin-bottom: 8px;
}

.plan-info {
    opacity: 0.4;
    font-size: 12px;
    line-height: 1.4;
}

/*Person Details*/

.profile-wrapper {
    padding: 16px 10px 0 10px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: inset 1px rgba(0, 0, 0, 0.3);
}

.profile-name {
    font-size: 18px;
    padding: 4px 0 2px 0;
}

.profile-email {
    font-size: 15px;
    opacity: 0.4;
}

.switch--list-item {
    margin-right: 0px;
}

.settings-header {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.4;
    padding: 10px 0 0px 10px;
    margin-bottom: -4px;
}

.settings-list {
    margin-top: 10px;
}

/*Person List*/

.person .tab-bar__item.active{border-top:blue 2px solid;}
.person .list__item{padding:0; margin: 0; line-height: 1; }
.person .list-item-content{padding:10px;}
.person .list-item-content.red{
    border-left:red solid 4px;
}
.person .list-item-content.green{
    border-left:green solid 4px;
}
.person .list-item-content.yellow{
    border-left:yellow solid 4px;
}


/*Person Details Form*/

.lucent {
  opacity: 0.4;
}

.note {
  margin: 12px 8px;
  font-size: 13px;
}

.vspc {
  margin-top: 20px;
}


.no-display{display:none !important;}
.set-favourite{color:yellow;}