<ons-page ng-controller="CompanyEditController">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Update</div>
    </ons-toolbar>

    <div class="formarea">
        <div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="Company Name" ng-model="data.companyname">
        </div>

        <div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="Email" ng-model="data.companyemail">
        </div>

        <div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="Phone" ng-model="data.landline">
        </div>

        <div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="User Name" ng-model="data.username">
        </div>

        <div class="form-row">
            <input type="password" class="text-input--underbar width-full" placeholder="Password" ng-model="data.password">
        </div>

        <div class="vspc form-row">
            <ons-button modifier="large--cta" ng-click="submit()">Submit</ons-button>
        </div>
    </div>

</ons-page>