<ons-page ng-controller="GroupsController" class="person">

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Manage Groups</div>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="fa-plus" fixed-width="false" style="font-size: 26px; vertical-align: -4px" ng-click="showEditForm()"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <ons-tabbar>
        <ons-tab page="groupList.html" active="true">
            Active
        </ons-tab>
        <ons-tab page="groupList.html">
            Tracking
        </ons-tab>
        <ons-tab page="groupList.html">
            Archived
        </ons-tab>
    </ons-tabbar>

    <ons-template id="groupList.html">
        <div class="page-content">
            <ons-scroller>
                <ons-list>
                    <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="group in groupList" ng-click="showDetails(group.id)">
                        <div class="list-item-content {{group.status}}">
                            <h2 class="name">
                                {{group.groupname}}
                            </h2>
                            <p>People in group: {{group.peopleCount}}</p>
                        </div>
                    </ons-list-item>
                </ons-list>
            </ons-scroller>
        </div>
    </ons-template>

</ons-page>
