<ons-page ng-controller="GroupsController" class="person">

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Manage Groups</div>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="fa-plus" fixed-width="false" style="font-size: 26px; vertical-align: -4px" ng-click="showEditForm()"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="custom tab-bar tab-bar--bottom tab-bar--top-border">
        <label class="tab-bar__item tab-bar--top-border__item">
            <input type="radio" name="top-tab-bar-b" checked="checked">
            <button class="tab-bar__button tab-bar--top-border__button">
                Active
            </button>
        </label>

        <label class="tab-bar__item tab-bar--top-border__item">
            <input type="radio" name="top-tab-bar-b">
            <button class="tab-bar__button tab-bar--top-border__button">
                Tracking
            </button>
        </label>

        <label class="tab-bar__item tab-bar--top-border__item">
            <input type="radio" name="top-tab-bar-b">
            <button class="tab-bar__button tab-bar--top-border__button">
                Archived
            </button>
        </label>
    </div>

    <div class="page-content">
        <ons-scroller>
            <ons-list>
                <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="group in groupList" ng-click="showDetails()">
                    <div class="list-item-content {{group.status}}">
                        <h2 class="name">
                            {{group.name}}
                        </h2>
                        <p>People in group: {{group.peopleCount}}</p>
                    </div>
                </ons-list-item>
            </ons-list>
        </ons-scroller>
    </div>
</ons-page>
