<ons-page ng-controller="PersonController" class="person">

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Manage People</div>
        <div class="right">
            <ons-toolbar-button ng-click="create()">
                <ons-icon icon="fa-plus" fixed-width="false" style="font-size: 26px; vertical-align: -4px"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>


    <ons-tabbar>
        <ons-tab page="personList.html" active="true">
            Active
        </ons-tab>
        <ons-tab page="personList.html">
            <div class="notification reply-notification" ons-tab-inactive>4</div>
            Tracking
        </ons-tab>
        <ons-tab page="personList.html">
            Archived
        </ons-tab>
    </ons-tabbar>

    <ons-template id="personList.html">
        <div class="page-content">
            <ons-scroller>
                <ons-list>
                    <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="person in personList" ng-click="showPerson()">
                        <div class="list-item-content {{person.status}}">
                            <h2 class="name">
                                {{person.name}}
                            </h2>
                            <!--<p>email: {{person.email}}</p>
                            <p>phone: {{person.phone}}</p>
                            <p>location: {{person.location}}</p>-->

                        </div>
                    </ons-list-item>
                </ons-list>
            </ons-scroller>
        </div>
    </ons-template>

</ons-page>
