<ons-page ng-controller="LoginController">
    <ons-toolbar>
        <div class="center">Log In</div>
        <div class="right"><ons-toolbar-button>Close</ons-toolbar-button></div>
    </ons-toolbar>

    <div class="login-form">

        <input type="text" class="text-input--underbar width-full" placeholder="User Name" value="">
        <input type="password" class="text-input--underbar width-full" placeholder="Password" value="">
        <br><br>
        <ons-button modifier="large" class="login-button" ng-click="login()">Log In</ons-button>
        <br>
        <button modifier="large" class="button--large button--outline" ng-click="create()">Create Account</button>
        <br/>
        <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
    </div>

</ons-page>