<ons-page ng-controller="EditScheduleController">
    <ons-toolbar>

        <div class="center">Update Schedule</div>
        <div class="right">
            <ons-toolbar-button ng-click="close()">
                Close
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="formarea">
        <div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="Description" value="" ng-model="data.schedulename">
        </div>
        <div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="Date" value="" ng-model="data.startdate">
        </div>

        <!--<div class="form-row">
            <input type="text" class="text-input--underbar width-full" placeholder="Time" value="" ng-model="data.starttime">
        </div>-->

        <div class="form-row">
            <textarea class="textarea textarea--transparent width-full" placeholder="Notes" style="min-height: 200px;" ng-model="data.notes"></textarea>
        </div>

        <div class="vspc form-row">
            <ons-button modifier="large--cta" ng-click="submit()">Submit</ons-button>
            <br/>
            <ons-button modifier="large--cta" ng-click="delete()">Delete</ons-button>
        </div>

    </div>

</ons-page>